/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: none;
	background-color: #bdeaee;
	font-family: 'Open Sans', sans-serif;
}

#navbar	{
	background-color: #051e3e;
}

#navbar>a{
	color: white;
}

#aboutme{
	align-content: center;
}

#aboutme img{
	filter: grayscale(100%);
}
/*
.mx-5 {
  padding: 1rem !important;
}*/

#project{

	background-color: #051e3e;	
	color: WHITE;
}

#1stproject{
	background-color: royalblue;
	color: WHITE;
}

h2{
	background-color: #051e3e;
}
footer>span{
	background-color:#051e3e;
	color: white;
}

footer{
	background-color:#051e3e;
	color: white;
}
